[includeIf "gitdir:~/Projects/Work/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/Projects/Personal/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/dotfiles/"]
	path = ~/.gitconfig-personal
[init]
	defaultBranch = main
[pull]
	rebase = true
# [core]
	# symlinks = true
	# ignorecase = false
#[commit]
#	gpgsign = true